@import "../../../styles.scss";

app-container {
  .content_text_repeat {
    color: white;
  }

  h1 {
    font-weight: bold;
  }

  ul {
    list-style: circle;
    margin-left: 15px;
  }

  a {
    font-weight: bold;
    color: white;
    text-decoration: underline;
  }

  p {
    color: white;
  }

  html {
    scroll-behavior: smooth;
  }
}
