<mat-toolbar color="primary">
  <mat-toolbar-row>
    <button mat-icon-button *ngIf="useDropDown">
      <mat-icon (click)="sidenav.toggle()">menu</mat-icon>
    </button>
    <span>Skydive</span>
    <span class="menu-spacer"></span>
    <div *ngIf="!useDropDown">
      <a mat-button *ngFor="let link of links" [routerLink]="'/' + link.link">
        {{ link.name.toLocaleUpperCase() }}
      </a>
    </div>
    <span class="flexExpand"></span>
    <div *ngIf="!useDropDown">
      <button mat-raised-button color="accent" class="action-button">
        Boka en tid
      </button>
      <button mat-raised-button color="accent" class="action-button">
        Köp ett hopp
      </button>
    </div>
  </mat-toolbar-row>

  <mat-toolbar-row *ngIf="useDropDown">
    <!-- <div>
      <span style="font-size: 16px">Tandemhopp med fallskärm</span>
    </div> -->
    <div>
      <button mat-raised-button color="accent">Boka en tid</button>
      <button mat-raised-button color="accent" class="action-button">
        Köp ett hopp
      </button>
    </div>
  </mat-toolbar-row>
</mat-toolbar>

<mat-sidenav-container>
  <mat-sidenav #sidenav>
    <mat-nav-list *ngIf="useDropDown">
      <a
        mat-list-item
        *ngFor="let link of links"
        [routerLink]="'/' + link.link"
      >
        {{ link.name.toLocaleUpperCase() }}
      </a>
      <a mat-list-item (click)="sidenav.toggle()" href="" mat-list-item
        >STÄNG</a
      >
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <div style="height: 88vh">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
