<mat-toolbar color="primary">
  <mat-toolbar-row>
    <button mat-icon-button *ngIf="useDropDown">
      <mat-icon (click)="sidenav.toggle()">menu</mat-icon>
    </button>
    <h1>Skydive</h1>
    <span class="menu-spacer"></span>
    <div *ngIf="!useDropDown">
      <a mat-button *ngFor="let link of links" [routerLink]="'/' + link.link">
        {{ link.name.toLocaleUpperCase() }}
      </a>
    </div>
  </mat-toolbar-row>

  <mat-toolbar-row>
    <span style="font-size: 12px">Tandemhopp med fallskärm</span>
  </mat-toolbar-row>
</mat-toolbar>

<mat-sidenav-container>
  <mat-sidenav #sidenav>
    <mat-nav-list *ngIf="useDropDown">
      <a
        mat-list-item
        *ngFor="let link of links"
        [routerLink]="'/' + link.link"
      >
        {{ link.name.toLocaleUpperCase() }}
      </a>
      <a mat-list-item (click)="sidenav.toggle()" href="" mat-list-item
        >STÄNG</a
      >
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <div style="height: 88vh">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
