<!-- Header -->

<header class="header trans_400">
  <div
    class="header_content d-flex flex-row align-items-center justify-content-center trans_400"
  >
    <!-- Logo -->
    <div class="logo">
      <a href="#">
        <div>Sky<span>Dive</span></div>
        <div>Tandemhopp med fallskärm</div>
      </a>
    </div>
    <div id="navSpacer"></div>
    <div class="hamburger">
      <div></div>
      <div></div>
      <div></div>
    </div>

    <!-- Main Navigation -->
    <nav class="main_nav">
      <ul class="d-flex flex-row align-items-start justify-content-start">
        <li *ngFor="let link of links">
          <a routerLink="" (click)="scroll(link.link)"
            >{{ link.title.toLocaleUpperCase() }}
            <div>
              <div></div>
              <div></div>
              <div></div></div
          ></a>
        </li>
      </ul>
    </nav>
  </div>
</header>

<!-- Menu -->

<div class="menu" #menu>
  <nav class="menu_nav">
    <ul class="d-flex flex-column align-items-start justify-content-start">
      <li class="active" *ngFor="let link of links">
        <a [routerLink]="[link.link]">{{ link.title.toLocaleUpperCase() }}</a>
      </li>
    </ul>
  </nav>
</div>
