<div class="home_slider_container">
  <div class="owl-carousel owl-theme home_slider">
    <!-- Slide -->
    <div class="owl-item home_slide">
      <div
        class="background_image"
        style="background-image: url(assets/images/plate1.jpg)"
      ></div>
      <div class="slide_container">
        <div class="container">
          <div class="row">
            <div class="col-lg-11">
              <div
                class="slide_content"
                data-animation-in="fadeInRight"
                data-animation-out="animate-out fadeOut"
              >
                <div class="home_title">
                  <h1>
                    Vi har <span>virket</span> som du
                    <span>behöver</span>
                  </h1>
                </div>
                <div class="home_text">
                  <p>
                    Med fyra generationers erfarenhet och egen energi direkt
                    från Ätran.
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Slide -->
    <div class="owl-item home_slide">
      <div
        class="background_image"
        style="background-image: url(assets/images/plate1.jpg)"
      ></div>
      <div class="slide_container">
        <div class="container">
          <div class="row">
            <div class="col-lg-11">
              <div
                class="slide_content"
                data-animation-in="fadeInRight"
                data-animation-out="animate-out fadeOut"
              >
                <div class="home_title">
                  <h1>
                    Vi har <span>virket</span> som du
                    <span>behöver</span>
                  </h1>
                </div>
                <div class="home_text">
                  <p>
                    Med fyra generationers erfarenhet och egen energi direkt
                    från Ätran.
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
