<div class="home_slider_container">
  <div class="owl-carousel owl-theme home_slider">
    <!-- Slide -->
    <div *ngFor="let slide of slides" class="owl-item home_slide">
      <div
        class="background_image"
        style="background-image: url({{ slide.image }})"
      ></div>
      <div class="slide_container">
        <div class="container">
          <div class="row">
            <div class="col-lg-11">
              <div
                class="slide_content"
                data-animation-in="fadeInRight"
                data-animation-out="animate-out fadeOut"
              >
                <div class="home_title">
                  <h1>
                    {{ slide.title1 }}<span> {{ slide.title2 }}</span>
                    {{ slide.title3 }}
                    <span> {{ slide.title4 }}</span>
                  </h1>
                </div>
                <div class="home_text">
                  <p>
                    {{ slide.text }}
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
