<footer class="footer">
    <div
      class="parallax_background"
      data-image-src="assets/images/tandemhopp/island.jpg"
    ></div>
    <div class="parallax_background parallax-window" data-parallax="scroll" data-image-src="images/footer.jpg" data-speed="0.8"></div>
    <div class="footer_container">
      <div class="container">
        <div class="row">
          <div class="col">
            <div class="section_title_container">
              <div class="section_title">
                <h1>{{title}}</h1>
              </div>
              <p>{{subtitle}}</p>
            </div>
          </div>
        </div>
        <div class="row footer_row">
          <ng-content></ng-content>
        </div>
      </div>
    </div>
  </footer>
  