@import "../..//../styles.scss";

a {
  color: white;
  text-decoration: underline;
}

img {
  object-fit: cover;
  height: 100%;
}

.column {
  height: 50rem;
  width: 50%;
  margin-left: 0%;
  margin-right: 0%;
  float: left;
}
.footer {
  display: block;
  position: relative;
  width: 100%;
}
