@import "../../../styles.scss";

.service {
  background-color: $accent--color;
  border-radius: 10px;
}

.service-title {
  color: #fff;
}

svg,
path {
  fill: inherit !important;
}
svg > g > path {
  fill: inherit !important;
}
